<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.inqle.ui.rap.IPartType" name="Class of Application Parts" schema="schema/org.inqle.ui.rap.IPartType.exsd"/>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.inqle.ui.rap.Application"
            parameter="default"
            id="org.inqle.ui.rap.Application">
      </entrypoint>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
        name="INQLE Perspective"
        class="org.inqle.ui.rap.Perspective"
        id="org.inqle.ui.rap.perspective">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Detail"
            icon="icons/detail.gif"
            class="org.inqle.ui.rap.views.DetailView"
            id="org.inqle.ui.rap.views.DetailView"/>
      <view
            name="Parts"
            class="org.inqle.ui.rap.tree.PartsView"
            id="org.inqle.ui.rap.views.PartsView"/>
       <view
            name="Class View"
            class="org.inqle.ui.rap.views.ClassView"
            id="org.inqle.ui.rap.views.ClassView"/>
       <view
            name="Object View"
            class="org.inqle.ui.rap.views.SubjectStatementsView"
            id="org.inqle.ui.rap.views.SubjectStatementsView"/>
       <view
            name="Browse data"
            class="org.inqle.ui.rap.views.DatamodelView"
            id="org.inqle.ui.rap.views.DatamodelView"/>
            
   </extension>
   
   <extension
         point="org.inqle.ui.rap.IPartType">
     <part-type
           class="org.inqle.ui.rap.tree.parts.Databases"
           weight="100"
           access="admin">
     </part-type>
     <part-type
           class="org.inqle.ui.rap.wiki.parts.Wikis"
           weight="50">
     </part-type>
   </extension>

	<extension
         point="org.inqle.data.datamodelFunctions">
      
      <datamodelFunction
           id="org.inqle.datamodelFunctions.wiki"
           name="Wiki"
           weight="1000"
           description="Publish to the public as a wiki."
					 checkedByDefault="true">
			</datamodelFunction>
	</extension>
	
	<!--Add activities, for security purposes-->
	<extension point="org.eclipse.ui.activities">
    <activity id="org.inqle.activities.AdminAccess" name="Admin access to the secured resources">
      <enabledWhen>
        <with variable="org.inqle.userRoles">
          <iterate ifEmpty="true" operator="or">
            <equals value="admin">
            </equals>
          </iterate>
        </with>
      </enabledWhen>
    </activity>
    <!--<activityPatternBinding activityId="org.inqle.activities.AdminAccess"
      pattern=".*/org\.inqle\.ui\.rap\.tree\.parts\.Databases">
    </activityPatternBinding>-->
  </extension>
</plugin>
