<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.inqle.ui.rap.IPartType" name="Class of Application Parts" schema="schema/org.inqle.ui.rap.IPartType.exsd"/>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.inqle.ui.rap.Application"
            parameter="default"
            id="org.inqle.ui.rap.Application">
      </entrypoint>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RAP Perspective"
            class="org.inqle.ui.rap.Perspective"
            id="org.inqle.ui.rap.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Detail"
            icon="icons/detail.gif"
            class="org.inqle.ui.rap.DetailView"
            id="org.inqle.ui.rap.detailView"/>
      <view
            name="Parts"
            class="org.inqle.ui.rap.tree.PartsView"
            id="org.inqle.ui.rap.partsView"/>
       <view
            name="Class View"
            class="org.inqle.ui.rap.views.ClassView"
            id="org.inqle.ui.rap.views.classView"/>
       <view
            name="Object View"
            class="org.inqle.ui.rap.views.SubjectStatementsView"
            id="org.inqle.ui.rap.views.subjectStatementsView"/>
       <view
            name="Browse Dataset"
            class="org.inqle.ui.rap.views.DatasetView"
            id="org.inqle.views.browseData"/>
            
   </extension>
   <!--extension
         point="org.eclipse.ui.commands">
      <category
            name="Mail"
            id="org.inqle.ui.rap.category">
      </category>
      <command
            name="Open Mailbox"
            description="Opens a mailbox"
            categoryId="org.inqle.ui.rap.category"
            id="org.inqle.ui.rap.open">
      </command>
      <command
            name="Open Message Dialog"
            description="Opens a message dialog"
            categoryId="org.inqle.ui.rap.category"
            id="org.inqle.ui.rap.openMessage">
      </command>
   </extension-->
   
   <extension
         point="org.inqle.ui.rap.IPartType">
     <part-type
           class="org.inqle.ui.rap.tree.parts.Databases"
           weight="100">
     </part-type>
   </extension>

</plugin>
