<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.inqle.data.purposes" name="Data Purpose" schema="schema/org.inqle.data.purposes.exsd"/>

	<extension
         point="org.inqle.data.purposes">
      
      <datamodelPurpose
           id="org.inqle.data.purposes.minable"
           name="General Minable Data"
           weight="1000"
           description="General purpose data, usable for learning experiments."
					 checkedByDefault="true">
			</datamodelPurpose>
			<datamodelPurpose
           id="org.inqle.data.purposes.schemas"
           name="Schemas, Ontologies"
           weight="2000"
           textIndexType="subject"
           description="RDFS or OWL ontology, containing semantic types and properties for classifying General Data to be imported.">
			</datamodelPurpose>
	</extension>
</plugin>
