<html xmlns:wicket="org.apache.wicket">
	<body>
		<wicket:panel>	
			<div style="height: 40px;">Title</div>
			<div>
				<div style="float: right; width: 300px; border: 1px solid gray; height: 688px;">
					Suggestions here
				</div>
				<div style="float: left; border: 1px solid gray; width: 896px; height: 688px;">
					<div style="height: 200px; width: 895px; top: 0px; position: relative;border: 1px solid red;">Header!</div>
					<div>
					 	<form wicket:id="form">
							Questions Here!				
						</form>
					</div>
					<div style="height: 200px; width: 895px; bottom: 0px; position: absolute;border: 1px solid red;">
						Adds or charts!
					</div>
				</div>
				<p style="clear: both"></p>
			</div>			
		</wicket:panel>
	</body>
</html>