<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.equinox.http.registry.resources">
    <resource
      alias="/web_files"
      base-name="/web_files"/>
  </extension>
	
  <extension
      id="org.inqle.ui.google.jsapi"
      point="org.eclipse.rap.ui.resources">
    <resource class="org.inqle.ui.google.jsapi.GoogleAPIResource"/>
    
    <resource class="org.inqle.ui.google.jsapi.MotionChartAPIResource"/>
    <resource class="org.inqle.ui.google.jsapi.MotionChartResource"/>
    
    <resource class="org.inqle.ui.google.jsapi.ColumnChartAPIResource"/>
    <resource class="org.inqle.ui.google.jsapi.ColumnChartResource"/>
    
    <resource class="org.inqle.ui.google.jsapi.TableAPIResource"/>
    <resource class="org.inqle.ui.google.jsapi.TableResource"/>
    
    <resource class="org.inqle.ui.google.jsapi.ScatterChartAPIResource"/>
    <resource class="org.inqle.ui.google.jsapi.ScatterChartResource"/>
    
    <resource class="org.inqle.ui.google.jsapi.LineChartAPIResource"/>
    <resource class="org.inqle.ui.google.jsapi.LineChartResource"/>
    
    <resource class="org.inqle.ui.google.jsapi.PieChartAPIResource"/>
    <resource class="org.inqle.ui.google.jsapi.PieChartResource"/>
  </extension>
</plugin>
