
button.smallbutton {
	border: 1px solid transparent;
	background: transparent;	
}

button.smallbuttonOver {
	border: 1px solid gray;
	background: transparent;	
}

div.dropColumn {
	border: 1px solid transparent;
	background: transparent;
}