#main {
	position: absolute;
	left: 300px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
	border-left: 1px solid black;
}

#nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	bottom: 0px;
	overflow: hidden;
	border-right: 1px solid black;
	
	
}



@media only screen and (orientation:portrait) {
	
	#main {
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
	}
	#nav {
		display:none;
	}
	
	.ttd-dateNavLabel {
	   width: 40px;
	}
	
}
  
.ttd-form-header {
  text-align: center;
  font-size: 1.1em;
}

.ttd-editQuestionPanel {
  background-color: #ffff99 !important;
}

.ttd-editAnswerPanel {
  
}

.ttd-form-label {
  margin-top: 1em;
  font-size: 0.8em;
}

.ttd-choice {
  font-size: 0.7em;
  font-weight: normal;
  margin-top: 0.3em;
}
  
.ttd-controlButton {
  background-color: aqua;
}

.ttd-addTagButton {
  margin: 5px 10px 0px 10px;
  font-size: 1em;
}

.ttd-dateNavLabel {
	width: 15px;
}

.ttd-navEarlierButton {
	margin: 5px 5px 0px 10px;
	font-size: 0.7em;
}

.ttd-navLaterButton {
	margin: 5px 10px 0px 5px;
	font-size: 0.7em;
}