<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.inqle.ecf.services">
   		<ecfService
   			serviceInterfaceName="org.inqle.qa.common.services.IHello"
   			serviceClassName="org.inqle.qa.common.services.Hello"
   			clientProtocol="ecf.generic.client"
   			serverProtocol="ecf.generic.server"
   			produce="true"
   			consume="false"/>
   </extension>
</plugin>
