body {
	margin: 0px;
	padding: 0px;
}

.test {
	background-color: red;
}

td.tbodycol {
	overflow: hidden;
	white-space: normal;
	word-wrap: break-word;
}

div.iheader {
 	height: 70px;
 	background-image: url('back.png');
 	background-repeat: repeat-x;
}

div.ipage {	
	width: 1200px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: auto;
	height: 800px;
	background-color: #eaf3ea;
}

div.smallheader {
	margin-left: 5px;
	background-image: url('test.png');
	background-repeat: repeat-x;
	font-weight: bold;
}