<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.inqle.data.datasets" name="Dataset Role" schema="schema/org.inqle.data.datasets.exsd"/>
   <extension
         point="org.inqle.data.datasets">
      
      <dataset
           id="org.inqle.datasets.log"
           weight="1000"
           description="contains log entries.">
					 cacheInMemory="false"
			</dataset>
			 
			<dataset
           id="org.inqle.datasets.ns"
           weight="2000"
           description="contains mappings from namespace abbreviations to their ful URIs">
					 cacheInMemory="true"
			</dataset>
			
			<dataset
           id="org.inqle.datasets.mapping"
           weight="3000"
           description="contains DataMapping and related objects, which map CSV values to RDF attributes">
					 cacheInMemory="false"
			</dataset>
			
			<dataset
           id="org.inqle.datasets.dataSubject"
           weight="4000"
           description="contains subclasses of the OWL class inqle:DataSubject.  These subclasses can be any native OWL class.  They are used as subjects of data."
					 cacheInMemory="true"
					 textIndexType="subject">
			</dataset>
			
			<dataset
           id="org.inqle.datasets.dataProperty"
           weight="5000"
           description="contains RDF properties used for INQLE data, including their rdfs:label and rdfs:comment."
					 cacheInMemory="true"
					 textIndexType="subject">
			</dataset>
   </extension>

</plugin>
