<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension-point 
   		id="org.inqle.agent.rap.IAgentFactory" 
   		name="Agent" 
   		schema="schema/org.inqle.agent.rap.IAgentFactory.exsd"/>
  <extension-point 
   		id="org.inqle.testing.IJUnitTest" 
   		name="JUnit Test" 
   		schema="schema/org.inqle.testing.IJUnitTest.exsd"/>
  <extension
         point="org.inqle.ui.rap.IPartType">
		<part-type
           class="org.inqle.agent.rap.AgentParts"
           weight="5000"/>
  </extension>
  <extension
         point="org.inqle.data.datamodels">
    <datamodel
         id="org.inqle.datamodels.agents"
         weight="10000"
         description="contains agents.">
				 cacheInMemory="false"
		</datamodel>
	</extension>
  <extension
         point="org.inqle.agent.rap.IAgentFactory">
		<agent
           class="org.inqle.testing.JUnitTestRunnerAgentFactory"
           name="JUnit Tester Agent"
           description="This agent runs all available JUnit Test plugins"
           weight="90000"/>
  </extension>
  <extension
         point="org.inqle.testing.IJUnitTest">
		<junit-test
           class="org.inqle.test.data.TestJenabean"
           name="Example JUnit Test (Test Jenabean)"
           weight="1000"/>
  </extension>
</plugin>
