<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.inqle.ecf.servers">
   		<ecfServer
   			uri="ecftcp://localhost:3787/server1"
   			port="3787"
   			protocol="ecf.generic.client"/>
   		<ecfServer
   			uri="ecftcp://localhost:3788/rest2"
   			port="3788"
   			protocol="ecf.rest.client"/>
   </extension>
</plugin>
